ws/service2.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<!-- WSDL file generated by PHP WSDLCreator (http://www.protung.ro) -->
<definitions name="RHWSDL" targetNamespace="urn:RHWSDL"
	xmlns:typens="urn:RHWSDL" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="urn:RHWSDL">
			<xsd:complexType name="SicasPessoaCategoriaType">
				<xsd:attribute name="cd_categoria" type="xsd:int"></xsd:attribute>
				<xsd:attribute name="desc_categoria" type="xsd:string">
				</xsd:attribute>
				<xsd:attribute name="desc_categoria_abrev" type="xsd:string"></xsd:attribute>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<message name="getAllHistorico">
		<part name="aFiltro" type="xsd:anyType"></part>
		<part name="aOrdenacao" type="xsd:anyType"></part>
	</message>
	<message name="getAllHistoricoResponse">
		<part name="getAllHistoricoReturn" type="xsd:anyType"></part>
	</message>
	<message name="getAllRhCargo">
		<part name="aFiltro" type="xsd:anyType"></part>
		<part name="aOrdenacao" type="xsd:anyType"></part>
	</message>
	<message name="getAllRhCargoResponse">
		<part name="getAllRhCargoReturn" type="xsd:anyType"></part>
	</message>
	<message name="getAllRhFeriado">
		<part name="aFiltro" type="xsd:anyType"></part>
		<part name="aOrdenacao" type="xsd:anyType"></part>
	</message>
	<message name="getAllRhFeriadoResponse">
		<part name="getAllRhFeriadoReturn" type="xsd:anyType"></part>
	</message>
	<message name="getAllSicasAtendimento">
		<part name="aFiltro" type="xsd:anyType"></part>
		<part name="aOrdenacao" type="xsd:anyType"></part>
	</message>
	<message name="getAllSicasAtendimentoResponse">
		<part name="getAllSicasAtendimentoReturn" type="xsd:anyType"></part>
	</message>
	<message name="getAllSicasCid">
		<part name="aFiltro" type="xsd:anyType"></part>
		<part name="aOrdenacao" type="xsd:anyType"></part>
	</message>
	<message name="getAllSicasCidResponse">
		<part name="getAllSicasCidReturn" type="xsd:anyType"></part>
	</message>
	<message name="getAllSicasConsultaMedica">
		<part name="aFiltro" type="xsd:anyType"></part>
		<part name="aOrdenacao" type="xsd:anyType"></part>
	</message>
	<message name="getAllSicasConsultaMedicaResponse">
		<part name="getAllSicasConsultaMedicaReturn" type="xsd:anyType"></part>
	</message>
	<message name="getAllSicasConsultaMedicaCid">
		<part name="aFiltro" type="xsd:anyType"></part>
		<part name="aOrdenacao" type="xsd:anyType"></part>
	</message>
	<message name="getAllSicasConsultaMedicaCidResponse">
		<part name="getAllHistoricoReturn" type="xsd:anyType"></part>
	</message>
	<message name="getAllSicasCredenciado">
		<part name="aFiltro" type="xsd:anyType"></part>
		<part name="aOrdenacao" type="xsd:anyType"></part>
	</message>
	<message name="getAllSicasCredenciadoResponse"></message>
	<message name="getAllSicasCredenciamento">
		<part name="aFiltro" type="xsd:anyType"></part>
		<part name="aOrdenacao" type="xsd:anyType"></part>
	</message>
	<message name="getAllSicasCredenciamentoResponse">
		<part name="getAllHistoricoReturn" type="xsd:anyType"></part>
	</message>
	<message name="getAllSicasDependente">
		<part name="aFiltro" type="xsd:anyType"></part>
		<part name="aOrdenacao" type="xsd:anyType"></part>
	</message>
	<message name="getAllSicasDependenteResponse">
		<part name="getAllHistoricoReturn" type="xsd:anyType"></part>
	</message>
	<message name="getAllSicasDespesa">
		<part name="aFiltro" type="xsd:anyType"></part>
		<part name="aOrdenacao" type="xsd:anyType"></part>
	</message>
	<message name="getAllSicasDespesaResponse">
		<part name="getAllHistoricoReturn" type="xsd:anyType"></part>
	</message>
	<message name="getAllSicasDespesaGol">
		<part name="aFiltro" type="xsd:anyType"></part>
		<part name="aOrdenacao" type="xsd:anyType"></part>
	</message>
	<message name="getAllSicasDespesaGolResponse">
		<part name="getAllHistoricoReturn" type="xsd:anyType"></part>
	</message>
	<message name="getAllSicasEncaminhamento">
		<part name="aFiltro" type="xsd:anyType"></part>
		<part name="aOrdenacao" type="xsd:anyType"></part>
	</message>
	<message name="getAllSicasEncaminhamentoResponse">
		<part name="getAllHistoricoReturn" type="xsd:anyType"></part>
	</message>
	<message name="getAllSicasEscolaridade">
		<part name="aFiltro" type="xsd:anyType"></part>
		<part name="aOrdenacao" type="xsd:anyType"></part>
	</message>
	<message name="getAllSicasEscolaridadeResponse">
		<part name="getAllHistoricoReturn" type="xsd:anyType"></part>
	</message>
	<message name="getAllSicasEspecialidadeMedica">
		<part name="aFiltro" type="xsd:anyType"></part>
		<part name="aOrdenacao" type="xsd:anyType"></part>
	</message>
	<message name="getAllSicasEspecialidadeMedicaResponse">
		<part name="getAllHistoricoReturn" type="xsd:anyType"></part>
	</message>
	<message name="getAllSicasEspecialidadeMedicaCredenciado">
		<part name="aFiltro" type="xsd:anyType"></part>
		<part name="aOrdenacao" type="xsd:anyType"></part>
	</message>
	<message name="getAllSicasEspecialidadeMedicaCredenciadoResponse">
		<part name="getAllHistoricoReturn" type="xsd:anyType"></part>
	</message>
	<message name="getAllSicasEstadoCivil">
		<part name="aFiltro" type="xsd:anyType"></part>
		<part name="aOrdenacao" type="xsd:anyType"></part>
	</message>
	<message name="getAllSicasEstadoCivilResponse">
		<part name="getAllHistoricoReturn" type="xsd:anyType"></part>
	</message>
	<message name="getAllSicasGrauParentesco">
		<part name="aFiltro" type="xsd:anyType"></part>
		<part name="aOrdenacao" type="xsd:anyType"></part>
	</message>
	<message name="getAllSicasGrauParentescoResponse">
		<part name="getAllHistoricoReturn" type="xsd:anyType"></part>
	</message>
	<message name="getAllSicasHistoricoImpressao">
		<part name="aFiltro" type="xsd:anyType"></part>
		<part name="aOrdenacao" type="xsd:anyType"></part>
	</message>
	<message name="getAllSicasHistoricoImpressaoResponse">
		<part name="getAllHistoricoReturn" type="xsd:anyType"></part>
	</message>
	<message name="getAllSicasLotacao">
		<part name="aFiltro" type="xsd:anyType"></part>
		<part name="aOrdenacao" type="xsd:anyType"></part>
	</message>
	<message name="getAllSicasLotacaoResponse">
		<part name="getAllHistoricoReturn" type="xsd:anyType"></part>
	</message>
	<message name="getAllSicasMedico">
		<part name="aFiltro" type="xsd:anyType"></part>
		<part name="aOrdenacao" type="xsd:anyType"></part>
	</message>
	<message name="getAllSicasMedicoResponse">
		<part name="getAllHistoricoReturn" type="xsd:anyType"></part>
	</message>
	<message name="getAllSicasParamDesconto">
		<part name="aFiltro" type="xsd:anyType"></part>
		<part name="aOrdenacao" type="xsd:anyType"></part>
	</message>
	<message name="getAllSicasParamDescontoResponse">
		<part name="getAllHistoricoReturn" type="xsd:anyType"></part>
	</message>
	<message name="getAllSicasParamFaixaSalarial">
		<part name="aFiltro" type="xsd:anyType"></part>
		<part name="aOrdenacao" type="xsd:anyType"></part>
	</message>
	<message name="getAllSicasParamFaixaSalarialResponse">
		<part name="getAllHistoricoReturn" type="xsd:anyType"></part>
	</message>
	<message name="getAllSicasPessoa">
		<part name="aFiltro" type="xsd:anyType"></part>
		<part name="aOrdenacao" type="xsd:anyType"></part>
	</message>
	<message name="getAllSicasPessoaResponse">
		<part name="getAllHistoricoReturn" type="xsd:anyType"></part>
	</message>
	<message name="getAllSicasPessoaCategoria">
		<part name="aFiltro" type="xsd:anyType"></part>
		<part name="aOrdenacao" type="xsd:anyType"></part>
	</message>
	<message name="getAllSicasPessoaCategoriaResponse">
		<part name="getAllSicasPessoaCategoriaReturn" type="xsd:anyType"></part>
	</message>
	<message name="getAllSicasProcedimento">
		<part name="aFiltro" type="xsd:anyType"></part>
		<part name="aOrdenacao" type="xsd:anyType"></part>
	</message>
	<message name="getAllSicasProcedimentoResponse">
		<part name="getAllHistoricoReturn" type="xsd:anyType"></part>
	</message>
	<message name="getAllSicasProcedimentoAutorizado">
		<part name="aFiltro" type="xsd:anyType"></part>
		<part name="aOrdenacao" type="xsd:anyType"></part>
	</message>
	<message name="getAllSicasProcedimentoAutorizadoResponse">
		<part name="getAllHistoricoReturn" type="xsd:anyType"></part>
	</message>
	<message name="getAllSicasSalario">
		<part name="aFiltro" type="xsd:anyType"></part>
		<part name="aOrdenacao" type="xsd:anyType"></part>
	</message>
	<message name="getAllSicasSalarioResponse">
		<part name="getAllHistoricoReturn" type="xsd:anyType"></part>
	</message>
	<message name="getAllSicasSalarioMinimo">
		<part name="aFiltro" type="xsd:anyType"></part>
		<part name="aOrdenacao" type="xsd:anyType"></part>
	</message>
	<message name="getAllSicasSalarioMinimoResponse">
		<part name="getAllHistoricoReturn" type="xsd:anyType"></part>
	</message>
	<message name="getAllSicasServidor">
		<part name="aFiltro" type="xsd:anyType"></part>
		<part name="aOrdenacao" type="xsd:anyType"></part>
	</message>
	<message name="getAllSicasServidorResponse">
		<part name="getAllHistoricoReturn" type="xsd:anyType"></part>
	</message>
	<message name="getAllSicasTipoAtendimento">
		<part name="aFiltro" type="xsd:anyType"></part>
		<part name="aOrdenacao" type="xsd:anyType"></part>
	</message>
	<message name="getAllSicasTipoAtendimentoResponse">
		<part name="getAllHistoricoReturn" type="xsd:anyType"></part>
	</message>
	<message name="getAllSicasTipoDespesa">
		<part name="aFiltro" type="xsd:anyType"></part>
		<part name="aOrdenacao" type="xsd:anyType"></part>
	</message>
	<message name="getAllSicasTipoDespesaResponse">
		<part name="getAllHistoricoReturn" type="xsd:anyType"></part>
	</message>
	<message name="getHistorico">
		<part name="codigo" type="xsd:integer"></part>
	</message>
	<message name="getHistoricoResponse">
		<part name="getHistoricoReturn" type="xsd:anyType"></part>
	</message>
	<message name="getRhCargo">
		<part name="cd_cargo" type="xsd:integer"></part>
	</message>
	<message name="getRhCargoResponse">
		<part name="getRhCargoReturn" type="xsd:anyType"></part>
	</message>
	<message name="getRhFeriado">
		<part name="cd_feriado" type="xsd:integer"></part>
	</message>
	<message name="getRhFeriadoResponse">
		<part name="getRhFeriadoReturn" type="xsd:anyType"></part>
	</message>
	<message name="getSicasAtendimento">
		<part name="cd_atendimento" type="xsd:integer"></part>
	</message>
	<message name="getSicasAtendimentoResponse">
		<part name="getSicasAtendimentoReturn" type="xsd:anyType"></part>
	</message>
	<message name="getSicasCid">
		<part name="cd_cid" type="xsd:integer"></part>
	</message>
	<message name="getSicasCidResponse">
		<part name="getSicasCidReturn" type="xsd:anyType"></part>
	</message>
	<message name="getSicasConsultaMedica">
		<part name="cd_consulta_medica" type="xsd:integer"></part>
	</message>
	<message name="getSicasConsultaMedicaResponse">
		<part name="getSicasConsultaMedicaReturn" type="xsd:anyType"></part>
	</message>
	<message name="getSicasCredenciado">
		<part name="cd_credenciado" type="xsd:integer"></part>
	</message>
	<message name="getSicasCredenciadoResponse">
		<part name="getSicasCredenciadoReturn" type="xsd:anyType"></part>
	</message>
	<message name="getSicasCredenciamento">
		<part name="cd_credenciamento" type="xsd:integer"></part>
	</message>
	<message name="getSicasCredenciamentoResponse">
		<part name="getSicasCredenciamentoReturn" type="xsd:anyType"></part>
	</message>
	<message name="getSicasDependente">
		<part name="cd_dependente" type="xsd:integer"></part>
	</message>
	<message name="getSicasDependenteResponse">
		<part name="getSicasDependenteReturn" type="xsd:anyType"></part>
	</message>
	<message name="getSicasDespesa">
		<part name="cd_despesa" type="xsd:integer"></part>
	</message>
	<message name="getSicasDespesaResponse">
		<part name="getSicasDespesaReturn" type="xsd:anyType"></part>
	</message>
	<message name="getSicasDespesaGol">
		<part name="cd_despesa_gol" type="xsd:integer"></part>
	</message>
	<message name="getSicasDespesaGolResponse">
		<part name="getSicasDespesaGolReturn" type="xsd:anyType"></part>
	</message>
	<message name="getSicasEncaminhamento">
		<part name="cd_encaminhamento" type="xsd:integer"></part>
	</message>
	<message name="getSicasEncaminhamentoResponse">
		<part name="getSicasEncaminhamentoReturn" type="xsd:anyType"></part>
	</message>
	<message name="getSicasEscolaridade">
		<part name="cd_escolaridade" type="xsd:integer"></part>
	</message>
	<message name="getSicasEscolaridadeResponse">
		<part name="getSicasEscolaridadeReturn" type="xsd:anyType"></part>
	</message>
	<message name="getSicasEspecialidadeMedica">
		<part name="cd_especialidade_medica" type="xsd:integer"></part>
	</message>
	<message name="getSicasEspecialidadeMedicaResponse">
		<part name="getSicasEspecialidadeMedicaReturn" type="xsd:anyType"></part>
	</message>
	<message name="getSicasEspecialidadeMedicaCredenciado">
		<part name="cd_especialidade_medica_credenciado" type="xsd:integer"></part>
	</message>
	<message name="getSicasEspecialidadeMedicaCredenciadoResponse">
		<part name="getSicasEspecialidadeMedicaCredenciadoReturn"
			type="xsd:anyType"></part>
	</message>
	<message name="getSicasEstadoCivil">
		<part name="cd_estado_civil" type="xsd:integer"></part>
	</message>
	<message name="getSicasEstadoCivilResponse">
		<part name="getSicasEstadoCivilReturn" type="xsd:anyType"></part>
	</message>
	<message name="getSicasGrauParentesco">
		<part name="cd_grau_parentesco" type="xsd:integer"></part>
	</message>
	<message name="getSicasGrauParentescoResponse">
		<part name="getSicasGrauParentescoReturn" type="xsd:anyType"></part>
	</message>
	<message name="getSicasHistoricoImpressao">
		<part name="cd_carteira" type="xsd:integer"></part>
	</message>
	<message name="getSicasHistoricoImpressaoResponse">
		<part name="getSicasHistoricoImpressaoReturn" type="xsd:anyType"></part>
	</message>
	<message name="getSicasLotacao">
		<part name="cd_lotacao" type="xsd:integer"></part>
	</message>
	<message name="getSicasLotacaoResponse">
		<part name="getSicasLotacaoReturn" type="xsd:anyType"></part>
	</message>
	<message name="getSicasMedico">
		<part name="cd_medico" type="xsd:integer"></part>
	</message>
	<message name="getSicasMedicoResponse">
		<part name="getSicasMedicoReturn" type="xsd:anyType"></part>
	</message>
	<message name="getSicasParamDesconto">
		<part name="cd_param_desc" type="xsd:integer"></part>
	</message>
	<message name="getSicasParamDescontoResponse">
		<part name="getSicasParamDescontoReturn" type="xsd:anyType"></part>
	</message>
	<message name="getSicasParamFaixaSalarial">
		<part name="cd_param_faixa_sal" type="xsd:integer"></part>
	</message>
	<message name="getSicasParamFaixaSalarialResponse">
		<part name="getSicasParamFaixaSalarialReturn" type="xsd:anyType"></part>
	</message>
	<message name="getSicasPessoa">
		<part name="cd_pessoa" type="xsd:integer"></part>
	</message>
	<message name="getSicasPessoaResponse">
		<part name="getSicasPessoaReturn" type="xsd:anyType"></part>
	</message>
	<message name="getSicasPessoaCategoria">
		<part name="cd_categoria" type="xsd:integer"></part>
	</message>
	<message name="getSicasPessoaCategoriaResponse">
		<part name="getSicasPessoaCategoriaReturn" type="typens:SicasPessoaCategoriaType"></part>
	</message>
	<message name="getSicasProcedimento">
		<part name="cd_procedimento" type="xsd:integer"></part>
	</message>
	<message name="getSicasProcedimentoResponse">
		<part name="getSicasProcedimentoReturn" type="xsd:anyType"></part>
	</message>
	<message name="getSicasProcedimentoAutorizado">
		<part name="cd_procedimento_autorizado" type="xsd:integer"></part>
	</message>
	<message name="getSicasProcedimentoAutorizadoResponse">
		<part name="getSicasProcedimentoAutorizadoReturn" type="xsd:anyType"></part>
	</message>
	<message name="getSicasSalario">
		<part name="cd_salario" type="xsd:integer"></part>
	</message>
	<message name="getSicasSalarioResponse">
		<part name="getSicasSalarioReturn" type="xsd:anyType"></part>
	</message>
	<message name="getSicasSalarioMinimo">
		<part name="cd_salario_minimo" type="xsd:integer"></part>
	</message>
	<message name="getSicasSalarioMinimoResponse">
		<part name="getSicasSalarioMinimoReturn" type="xsd:anyType"></part>
	</message>
	<message name="getSicasServidor">
		<part name="cd_servidor" type="xsd:integer"></part>
	</message>
	<message name="getSicasServidorResponse">
		<part name="getSicasServidorReturn" type="xsd:anyType"></part>
	</message>
	<message name="getSicasTipoAtendimento">
		<part name="cd_tipo_atendimento" type="xsd:integer"></part>
	</message>
	<message name="getSicasTipoAtendimentoResponse">
		<part name="getSicasTipoAtendimentoReturn" type="xsd:anyType"></part>
	</message>
	<message name="getSicasTipoDespesa">
		<part name="cd_tipo_despesa" type="xsd:integer"></part>
	</message>
	<message name="getSicasTipoDespesaResponse">
		<part name="getSicasTipoDespesaReturn" type="xsd:anyType"></part>
	</message>
	<portType name="ControleWSPortType">
		<operation name="getAllHistorico">
			<input message="typens:getAllHistorico"></input>
			<output message="typens:getAllHistoricoResponse"></output>
		</operation>
		<operation name="getAllRhCargo">
			<input message="typens:getAllRhCargo"></input>
			<output message="typens:getAllRhCargoResponse"></output>
		</operation>
		<operation name="getAllRhFeriado">
			<input message="typens:getAllRhFeriado"></input>
			<output message="typens:getAllRhFeriadoResponse"></output>
		</operation>
		<operation name="getAllSicasAtendimento">
			<input message="typens:getAllSicasAtendimento"></input>
			<output message="typens:getAllSicasAtendimentoResponse"></output>
		</operation>
		<operation name="getAllSicasCid">
			<input message="typens:getAllSicasCid"></input>
			<output message="typens:getAllSicasCidResponse"></output>
		</operation>
		<operation name="getAllSicasConsultaMedica">
			<input message="typens:getAllSicasConsultaMedica"></input>
			<output message="typens:getAllSicasConsultaMedicaResponse"></output>
		</operation>
		<operation name="getAllSicasConsultaMedicaCid">
			<input message="typens:getAllSicasConsultaMedicaCid"></input>
			<output message="typens:getAllSicasConsultaMedicaCidResponse"></output>
		</operation>
		<operation name="getAllSicasCredenciado">
			<input message="typens:getAllSicasCredenciado"></input>
			<output message="typens:getAllSicasCredenciadoResponse"></output>
		</operation>
		<operation name="getAllSicasCredenciamento">
			<input message="typens:getAllSicasCredenciamento"></input>
			<output message="typens:getAllSicasCredenciamentoResponse"></output>
		</operation>
		<operation name="getAllSicasDependente">
			<input message="typens:getAllSicasDependente"></input>
			<output message="typens:getAllSicasDependenteResponse"></output>
		</operation>
		<operation name="getAllSicasDespesa">
			<input message="typens:getAllSicasDespesa"></input>
			<output message="typens:getAllSicasDespesaResponse"></output>
		</operation>
		<operation name="getAllSicasDespesaGol">
			<input message="typens:getAllSicasDespesaGol"></input>
			<output message="typens:getAllSicasDespesaGolResponse"></output>
		</operation>
		<operation name="getAllSicasEncaminhamento">
			<input message="typens:getAllSicasEncaminhamento"></input>
			<output message="typens:getAllSicasEncaminhamentoResponse"></output>
		</operation>
		<operation name="getAllSicasEscolaridade">
			<input message="typens:getAllSicasEscolaridade"></input>
			<output message="typens:getAllSicasEscolaridadeResponse"></output>
		</operation>
		<operation name="getAllSicasEspecialidadeMedica">
			<input message="typens:getAllSicasEspecialidadeMedica"></input>
			<output message="typens:getAllSicasEspecialidadeMedicaResponse"></output>
		</operation>
		<operation name="getAllSicasEspecialidadeMedicaCredenciado">
			<input message="typens:getAllSicasEspecialidadeMedicaCredenciado"></input>
			<output message="typens:getAllSicasEspecialidadeMedicaCredenciadoResponse"></output>
		</operation>
		<operation name="getAllSicasEstadoCivil">
			<input message="typens:getAllSicasEstadoCivil"></input>
			<output message="typens:getAllSicasEstadoCivilResponse"></output>
		</operation>
		<operation name="getAllSicasGrauParentesco">
			<input message="typens:getAllSicasGrauParentesco"></input>
			<output message="typens:getAllSicasGrauParentescoResponse"></output>
		</operation>
		<operation name="getAllSicasHistoricoImpressao">
			<input message="typens:getAllSicasHistoricoImpressao"></input>
			<output message="typens:getAllSicasHistoricoImpressaoResponse"></output>
		</operation>
		<operation name="getAllSicasLotacao">
			<input message="typens:getAllSicasLotacao"></input>
			<output message="typens:getAllSicasLotacaoResponse"></output>
		</operation>
		<operation name="getAllSicasMedico">
			<input message="typens:getAllSicasMedico"></input>
			<output message="typens:getAllSicasMedicoResponse"></output>
		</operation>
		<operation name="getAllSicasParamDesconto">
			<input message="typens:getAllSicasParamDesconto"></input>
			<output message="typens:getAllSicasParamDescontoResponse"></output>
		</operation>
		<operation name="getAllSicasParamFaixaSalarial">
			<input message="typens:getAllSicasParamFaixaSalarial"></input>
			<output message="typens:getAllSicasParamFaixaSalarialResponse"></output>
		</operation>
		<operation name="getAllSicasPessoa">
			<input message="typens:getAllSicasPessoa"></input>
			<output message="typens:getAllSicasPessoaResponse"></output>
		</operation>
		<operation name="getAllSicasPessoaCategoria">
			<input message="typens:getAllSicasPessoaCategoria"></input>
			<output message="typens:getAllSicasPessoaCategoriaResponse"></output>
		</operation>
		<operation name="getAllSicasProcedimento">
			<input message="typens:getAllSicasProcedimento"></input>
			<output message="typens:getAllSicasProcedimentoResponse"></output>
		</operation>
		<operation name="getAllSicasProcedimentoAutorizado">
			<input message="typens:getAllSicasProcedimentoAutorizado"></input>
			<output message="typens:getAllSicasProcedimentoAutorizadoResponse"></output>
		</operation>
		<operation name="getAllSicasSalario">
			<input message="typens:getAllSicasSalario"></input>
			<output message="typens:getAllSicasSalarioResponse"></output>
		</operation>
		<operation name="getAllSicasSalarioMinimo">
			<input message="typens:getAllSicasSalarioMinimo"></input>
			<output message="typens:getAllSicasSalarioMinimoResponse"></output>
		</operation>
		<operation name="getAllSicasServidor">
			<input message="typens:getAllSicasServidor"></input>
			<output message="typens:getAllSicasServidorResponse"></output>
		</operation>
		<operation name="getAllSicasTipoAtendimento">
			<input message="typens:getAllSicasTipoAtendimento"></input>
			<output message="typens:getAllSicasTipoAtendimentoResponse"></output>
		</operation>
		<operation name="getAllSicasTipoDespesa">
			<input message="typens:getAllSicasTipoDespesa"></input>
			<output message="typens:getAllSicasTipoDespesaResponse"></output>
		</operation>
		<operation name="getHistorico">
			<documentation>get registro de Historico</documentation>
			<input message="typens:getHistorico"></input>
			<output message="typens:getHistoricoResponse"></output>
		</operation>
		<operation name="getRhCargo">
			<documentation>get registro de RhCargo</documentation>
			<input message="typens:getRhCargo"></input>
			<output message="typens:getRhCargoResponse"></output>
		</operation>
		<operation name="getRhFeriado">
			<documentation>get registro de RhFeriado</documentation>
			<input message="typens:getRhFeriado"></input>
			<output message="typens:getRhFeriadoResponse"></output>
		</operation>
		<operation name="getSicasAtendimento">
			<documentation>get registro de SicasAtendimento
			</documentation>
			<input message="typens:getSicasAtendimento"></input>
			<output message="typens:getSicasAtendimentoResponse"></output>
		</operation>
		<operation name="getSicasCid">
			<documentation>get registro de SicasCid</documentation>
			<input message="typens:getSicasCid"></input>
			<output message="typens:getSicasCidResponse"></output>
		</operation>
		<operation name="getSicasConsultaMedica">
			<documentation>get registro de SicasConsultaMedica
			</documentation>
			<input message="typens:getSicasConsultaMedica"></input>
			<output message="typens:getSicasConsultaMedicaResponse"></output>
		</operation>
		<operation name="getSicasCredenciado">
			<documentation>get registro de SicasCredenciado
			</documentation>
			<input message="typens:getSicasCredenciado"></input>
			<output message="typens:getSicasCredenciadoResponse"></output>
		</operation>
		<operation name="getSicasCredenciamento">
			<documentation>get registro de SicasCredenciamento
			</documentation>
			<input message="typens:getSicasCredenciamento"></input>
			<output message="typens:getSicasCredenciamentoResponse"></output>
		</operation>
		<operation name="getSicasDependente">
			<documentation>get registro de SicasDependente</documentation>
			<input message="typens:getSicasDependente"></input>
			<output message="typens:getSicasDependenteResponse"></output>
		</operation>
		<operation name="getSicasDespesa">
			<documentation>get registro de SicasDespesa</documentation>
			<input message="typens:getSicasDespesa"></input>
			<output message="typens:getSicasDespesaResponse"></output>
		</operation>
		<operation name="getSicasDespesaGol">
			<documentation>get registro de SicasDespesaGol</documentation>
			<input message="typens:getSicasDespesaGol"></input>
			<output message="typens:getSicasDespesaGolResponse"></output>
		</operation>
		<operation name="getSicasEncaminhamento">
			<documentation>get registro de SicasEncaminhamento
			</documentation>
			<input message="typens:getSicasEncaminhamento"></input>
			<output message="typens:getSicasEncaminhamentoResponse"></output>
		</operation>
		<operation name="getSicasEscolaridade">
			<documentation>get registro de SicasEscolaridade
			</documentation>
			<input message="typens:getSicasEscolaridade"></input>
			<output message="typens:getSicasEscolaridadeResponse"></output>
		</operation>
		<operation name="getSicasEspecialidadeMedica">
			<documentation>get registro de SicasEspecialidadeMedica
			</documentation>
			<input message="typens:getSicasEspecialidadeMedica"></input>
			<output message="typens:getSicasEspecialidadeMedicaResponse"></output>
		</operation>
		<operation name="getSicasEspecialidadeMedicaCredenciado">
			<documentation>get registro de
				SicasEspecialidadeMedicaCredenciado
			</documentation>
			<input message="typens:getSicasEspecialidadeMedicaCredenciado"></input>
			<output
				message="typens:getSicasEspecialidadeMedicaCredenciadoResponse"></output>
		</operation>
		<operation name="getSicasEstadoCivil">
			<documentation>get registro de SicasEstadoCivil
			</documentation>
			<input message="typens:getSicasEstadoCivil"></input>
			<output message="typens:getSicasEstadoCivilResponse"></output>
		</operation>
		<operation name="getSicasGrauParentesco">
			<documentation>get registro de SicasGrauParentesco
			</documentation>
			<input message="typens:getSicasGrauParentesco"></input>
			<output message="typens:getSicasGrauParentescoResponse"></output>
		</operation>
		<operation name="getSicasHistoricoImpressao">
			<documentation>get registro de SicasHistoricoImpressao
			</documentation>
			<input message="typens:getSicasHistoricoImpressao"></input>
			<output message="typens:getSicasHistoricoImpressaoResponse"></output>
		</operation>
		<operation name="getSicasLotacao">
			<documentation>get registro de SicasLotacao</documentation>
			<input message="typens:getSicasLotacao"></input>
			<output message="typens:getSicasLotacaoResponse"></output>
		</operation>
		<operation name="getSicasMedico">
			<documentation>get registro de SicasMedico</documentation>
			<input message="typens:getSicasMedico"></input>
			<output message="typens:getSicasMedicoResponse"></output>
		</operation>
		<operation name="getSicasParamDesconto">
			<documentation>get registro de SicasParamDesconto
			</documentation>
			<input message="typens:getSicasParamDesconto"></input>
			<output message="typens:getSicasParamDescontoResponse"></output>
		</operation>
		<operation name="getSicasParamFaixaSalarial">
			<documentation>get registro de SicasParamFaixaSalarial
			</documentation>
			<input message="typens:getSicasParamFaixaSalarial"></input>
			<output message="typens:getSicasParamFaixaSalarialResponse"></output>
		</operation>
		<operation name="getSicasPessoa">
			<documentation>get registro de SicasPessoa</documentation>
			<input message="typens:getSicasPessoa"></input>
			<output message="typens:getSicasPessoaResponse"></output>
		</operation>
		<operation name="getSicasPessoaCategoria">
			<documentation>get registro de SicasPessoaCategoria
			</documentation>
			<input message="typens:getSicasPessoaCategoria"></input>
			<output message="typens:getSicasPessoaCategoriaResponse"></output>
		</operation>
		<operation name="getSicasProcedimento">
			<documentation>get registro de SicasProcedimento
			</documentation>
			<input message="typens:getSicasProcedimento"></input>
			<output message="typens:getSicasProcedimentoResponse"></output>
		</operation>
		<operation name="getSicasProcedimentoAutorizado">
			<documentation>get registro de SicasProcedimentoAutorizado
			</documentation>
			<input message="typens:getSicasProcedimentoAutorizado"></input>
			<output message="typens:getSicasProcedimentoAutorizadoResponse"></output>
		</operation>
		<operation name="getSicasSalario">
			<documentation>get registro de SicasSalario</documentation>
			<input message="typens:getSicasSalario"></input>
			<output message="typens:getSicasSalarioResponse"></output>
		</operation>
		<operation name="getSicasSalarioMinimo">
			<documentation>get registro de SicasSalarioMinimo
			</documentation>
			<input message="typens:getSicasSalarioMinimo"></input>
			<output message="typens:getSicasSalarioMinimoResponse"></output>
		</operation>
		<operation name="getSicasServidor">
			<documentation>get registro de SicasServidor</documentation>
			<input message="typens:getSicasServidor"></input>
			<output message="typens:getSicasServidorResponse"></output>
		</operation>
		<operation name="getSicasTipoAtendimento">
			<documentation>get registro de SicasTipoAtendimento
			</documentation>
			<input message="typens:getSicasTipoAtendimento"></input>
			<output message="typens:getSicasTipoAtendimentoResponse"></output>
		</operation>
		<operation name="getSicasTipoDespesa">
			<documentation>get registro de SicasTipoDespesa
			</documentation>
			<input message="typens:getSicasTipoDespesa"></input>
			<output message="typens:getSicasTipoDespesaResponse"></output>
		</operation>
	</portType>
	<binding name="ControleWSBinding" type="typens:ControleWSPortType">
		<soap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
		<operation name="getAllHistorico">
			<soap:operation soapAction="urn:ControleWSAction"></soap:operation>
			<input>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
		<operation name="getAllRhCargo">
			<soap:operation soapAction="urn:ControleWSAction"></soap:operation>
			<input>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
		<operation name="getAllRhFeriado">
			<soap:operation soapAction="urn:ControleWSAction"></soap:operation>
			<input>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
		<operation name="getAllSicasAtendimento">
			<soap:operation soapAction="urn:ControleWSAction"></soap:operation>
			<input>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
		<operation name="getAllSicasCid">
			<soap:operation soapAction="urn:ControleWSAction"></soap:operation>
			<input>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
		<operation name="getAllSicasConsultaMedica">
			<soap:operation soapAction="urn:ControleWSAction"></soap:operation>
			<input>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
		<operation name="getAllSicasConsultaMedicaCid">
			<soap:operation soapAction="urn:ControleWSAction"></soap:operation>
			<input>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
		<operation name="getAllSicasCredenciado">
			<soap:operation soapAction="urn:ControleWSAction"></soap:operation>
			<input>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
		<operation name="getAllSicasCredenciamento">
			<soap:operation soapAction="urn:ControleWSAction"></soap:operation>
			<input>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
		<operation name="getAllSicasDependente">
			<soap:operation soapAction="urn:ControleWSAction"></soap:operation>
			<input>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
		<operation name="getAllSicasDespesa">
			<soap:operation soapAction="urn:ControleWSAction"></soap:operation>
			<input>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
		<operation name="getAllSicasDespesaGol">
			<soap:operation soapAction="urn:ControleWSAction"></soap:operation>
			<input>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
		<operation name="getAllSicasEncaminhamento">
			<soap:operation soapAction="urn:ControleWSAction"></soap:operation>
			<input>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
		<operation name="getAllSicasEscolaridade">
			<soap:operation soapAction="urn:ControleWSAction"></soap:operation>
			<input>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
		<operation name="getAllSicasEspecialidadeMedica">
			<soap:operation soapAction="urn:ControleWSAction"></soap:operation>
			<input>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
		<operation name="getAllSicasEspecialidadeMedicaCredenciado">
			<soap:operation soapAction="urn:ControleWSAction"></soap:operation>
			<input>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
		<operation name="getAllSicasEstadoCivil">
			<soap:operation soapAction="urn:ControleWSAction"></soap:operation>
			<input>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
		<operation name="getAllSicasGrauParentesco">
			<soap:operation soapAction="urn:ControleWSAction"></soap:operation>
			<input>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
		<operation name="getAllSicasHistoricoImpressao">
			<soap:operation soapAction="urn:ControleWSAction"></soap:operation>
			<input>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
		<operation name="getAllSicasLotacao">
			<soap:operation soapAction="urn:ControleWSAction"></soap:operation>
			<input>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
		<operation name="getAllSicasMedico">
			<soap:operation soapAction="urn:ControleWSAction"></soap:operation>
			<input>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
		<operation name="getAllSicasParamDesconto">
			<soap:operation soapAction="urn:ControleWSAction"></soap:operation>
			<input>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
		<operation name="getAllSicasParamFaixaSalarial">
			<soap:operation soapAction="urn:ControleWSAction"></soap:operation>
			<input>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
		<operation name="getAllSicasPessoa">
			<soap:operation soapAction="urn:ControleWSAction"></soap:operation>
			<input>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
		<operation name="getAllSicasPessoaCategoria">
			<soap:operation soapAction="urn:ControleWSAction"></soap:operation>
			<input>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
		<operation name="getAllSicasProcedimento">
			<soap:operation soapAction="urn:ControleWSAction"></soap:operation>
			<input>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
		<operation name="getAllSicasProcedimentoAutorizado">
			<soap:operation soapAction="urn:ControleWSAction"></soap:operation>
			<input>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
		<operation name="getAllSicasSalario">
			<soap:operation soapAction="urn:ControleWSAction"></soap:operation>
			<input>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
		<operation name="getAllSicasSalarioMinimo">
			<soap:operation soapAction="urn:ControleWSAction"></soap:operation>
			<input>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
		<operation name="getAllSicasServidor">
			<soap:operation soapAction="urn:ControleWSAction"></soap:operation>
			<input>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
		<operation name="getAllSicasTipoAtendimento">
			<soap:operation soapAction="urn:ControleWSAction"></soap:operation>
			<input>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
		<operation name="getAllSicasTipoDespesa">
			<soap:operation soapAction="urn:ControleWSAction"></soap:operation>
			<input>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
		<operation name="getHistorico">
			<soap:operation soapAction="urn:ControleWSAction"></soap:operation>
			<input>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
		<operation name="getRhCargo">
			<soap:operation soapAction="urn:ControleWSAction"></soap:operation>
			<input>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
		<operation name="getRhFeriado">
			<soap:operation soapAction="urn:ControleWSAction"></soap:operation>
			<input>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
		<operation name="getSicasAtendimento">
			<soap:operation soapAction="urn:ControleWSAction"></soap:operation>
			<input>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
		<operation name="getSicasCid">
			<soap:operation soapAction="urn:ControleWSAction"></soap:operation>
			<input>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
		<operation name="getSicasConsultaMedica">
			<soap:operation soapAction="urn:ControleWSAction"></soap:operation>
			<input>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
		<operation name="getSicasCredenciado">
			<soap:operation soapAction="urn:ControleWSAction"></soap:operation>
			<input>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
		<operation name="getSicasCredenciamento">
			<soap:operation soapAction="urn:ControleWSAction"></soap:operation>
			<input>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
		<operation name="getSicasDependente">
			<soap:operation soapAction="urn:ControleWSAction"></soap:operation>
			<input>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
		<operation name="getSicasDespesa">
			<soap:operation soapAction="urn:ControleWSAction"></soap:operation>
			<input>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
		<operation name="getSicasDespesaGol">
			<soap:operation soapAction="urn:ControleWSAction"></soap:operation>
			<input>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
		<operation name="getSicasEncaminhamento">
			<soap:operation soapAction="urn:ControleWSAction"></soap:operation>
			<input>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
		<operation name="getSicasEscolaridade">
			<soap:operation soapAction="urn:ControleWSAction"></soap:operation>
			<input>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
		<operation name="getSicasEspecialidadeMedica">
			<soap:operation soapAction="urn:ControleWSAction"></soap:operation>
			<input>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
		<operation name="getSicasEspecialidadeMedicaCredenciado">
			<soap:operation soapAction="urn:ControleWSAction"></soap:operation>
			<input>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
		<operation name="getSicasEstadoCivil">
			<soap:operation soapAction="urn:ControleWSAction"></soap:operation>
			<input>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
		<operation name="getSicasGrauParentesco">
			<soap:operation soapAction="urn:ControleWSAction"></soap:operation>
			<input>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
		<operation name="getSicasHistoricoImpressao">
			<soap:operation soapAction="urn:ControleWSAction"></soap:operation>
			<input>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
		<operation name="getSicasLotacao">
			<soap:operation soapAction="urn:ControleWSAction"></soap:operation>
			<input>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
		<operation name="getSicasMedico">
			<soap:operation soapAction="urn:ControleWSAction"></soap:operation>
			<input>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
		<operation name="getSicasParamDesconto">
			<soap:operation soapAction="urn:ControleWSAction"></soap:operation>
			<input>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
		<operation name="getSicasParamFaixaSalarial">
			<soap:operation soapAction="urn:ControleWSAction"></soap:operation>
			<input>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
		<operation name="getSicasPessoa">
			<soap:operation soapAction="urn:ControleWSAction"></soap:operation>
			<input>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
		<operation name="getSicasPessoaCategoria">
			<soap:operation soapAction="urn:ControleWSAction"></soap:operation>
			<input>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
		<operation name="getSicasProcedimento">
			<soap:operation soapAction="urn:ControleWSAction"></soap:operation>
			<input>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
		<operation name="getSicasProcedimentoAutorizado">
			<soap:operation soapAction="urn:ControleWSAction"></soap:operation>
			<input>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
		<operation name="getSicasSalario">
			<soap:operation soapAction="urn:ControleWSAction"></soap:operation>
			<input>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
		<operation name="getSicasSalarioMinimo">
			<soap:operation soapAction="urn:ControleWSAction"></soap:operation>
			<input>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
		<operation name="getSicasServidor">
			<soap:operation soapAction="urn:ControleWSAction"></soap:operation>
			<input>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
		<operation name="getSicasTipoAtendimento">
			<soap:operation soapAction="urn:ControleWSAction"></soap:operation>
			<input>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
		<operation name="getSicasTipoDespesa">
			<soap:operation soapAction="urn:ControleWSAction"></soap:operation>
			<input>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:RHWSDL" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
	</binding>
	<service name="RHWSDLService">
		<port name="ControleWSPort" binding="typens:ControleWSBinding">
			<soap:address location="http://localhost:8008/rh/ws/"></soap:address>
		</port>
	</service>
</definitions>