ws/service.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<!-- WSDL file generated by PHP WSDLCreator (http://www.protung.ro) -->
<definitions name="RHWSDL" targetNamespace="urn:RHWSDL"
	xmlns:typens="urn:RHWSDL" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="urn:RHWSDL">
			<xsd:complexType name="SicasPessoaType">
				<xsd:attribute name="cd_pessoa" type="xsd:int"></xsd:attribute>
				<xsd:attribute name="nm_pessoa" type="xsd:string"></xsd:attribute>
				<xsd:attribute name="email" type="xsd:string"></xsd:attribute>
				<xsd:attribute name="dt_nascimento" type="xsd:string"></xsd:attribute>
				<xsd:attribute name="genero" type="xsd:string"></xsd:attribute>
				<xsd:attribute name="oSicasEstadoCivil" type="xsd:string"></xsd:attribute>
				<xsd:attribute name="identidade" type="xsd:int"></xsd:attribute>
				<xsd:attribute name="nm_orgao_emissor" type="xsd:string"></xsd:attribute>
				<xsd:attribute name="dt_emissao" type="xsd:string"></xsd:attribute>
				<xsd:attribute name="cpf" type="xsd:string"></xsd:attribute>
				<xsd:attribute name="endereco" type="xsd:string"></xsd:attribute>
				<xsd:attribute name="complemento" type="xsd:string"></xsd:attribute>
				<xsd:attribute name="bairro" type="xsd:string"></xsd:attribute>
				<xsd:attribute name="cidade" type="xsd:string"></xsd:attribute>
				<xsd:attribute name="uf" type="xsd:string"></xsd:attribute>
				<xsd:attribute name="cep" type="xsd:string"></xsd:attribute>
				<xsd:attribute name="telefone" type="xsd:string"></xsd:attribute>
				<xsd:attribute name="grupo_sanguineo" type="xsd:string"></xsd:attribute>
				<xsd:attribute name="tipo_beneficiario" type="xsd:string"></xsd:attribute>
				<xsd:attribute name="status" type="xsd:int"></xsd:attribute>
				<xsd:attribute name="foto" type="xsd:string"></xsd:attribute>
				<xsd:attribute name="oSicasPessoaCategoria" type="xsd:string"></xsd:attribute>
				<xsd:attribute name="uf_identidade" type="xsd:string"></xsd:attribute>
			</xsd:complexType>
			<xsd:complexType name="SicasServidorType">
				<xsd:attribute name="cd_servidor" type="xsd:int"></xsd:attribute>
				<xsd:attribute name="oSicasPessoa" type="xsd:string"></xsd:attribute>
				<xsd:attribute name="cd_matricula" type="xsd:int"></xsd:attribute>
				<xsd:attribute name="oSicasLotacao" type="xsd:string"></xsd:attribute>
				<xsd:attribute name="status" type="xsd:int"></xsd:attribute>
				<xsd:attribute name="serv_efetivo" type="xsd:int"></xsd:attribute>
				<xsd:attribute name="oRhCargo" type="xsd:string"></xsd:attribute>			</xsd:complexType>
			<xsd:complexType name="SicasEstadoCivilType">
				<xsd:attribute name="cd_estado_civil" type="xsd:int"></xsd:attribute>
				<xsd:attribute name="nm_estado_civil" type="xsd:string"></xsd:attribute>
				<xsd:attribute name="status" type="xsd:int"></xsd:attribute>
			</xsd:complexType>

			<xsd:complexType name="SicasPessoaCategoriaType">
				<xsd:attribute name="cd_categoria" type="xsd:int"></xsd:attribute>
				<xsd:attribute name="desc_categoria" type="xsd:string"></xsd:attribute>
				<xsd:attribute name="desc_categoria_abrev" type="xsd:string"></xsd:attribute>
			</xsd:complexType>

			<xsd:complexType name="SicasLotacaoType">
				<xsd:attribute name="cd_lotacao" type="xsd:int"></xsd:attribute>
				<xsd:attribute name="sigla" type="xsd:string"></xsd:attribute>
				<xsd:attribute name="cd_siged" type="xsd:int"></xsd:attribute>
				<xsd:attribute name="nm_lotacao" type="xsd:string"></xsd:attribute>
				<xsd:attribute name="status" type="xsd:int"></xsd:attribute>
			</xsd:complexType>

			<xsd:complexType name="RhCargoType">
				<xsd:attribute name="cd_cargo" type="xsd:int"></xsd:attribute>
				<xsd:attribute name="descricao_cargo" type="xsd:string"></xsd:attribute>
				<xsd:attribute name="descricao_cargo_abrev" type="xsd:string"></xsd:attribute>
				<xsd:attribute name="num_siape_cargo" type="xsd:int"></xsd:attribute>
				<xsd:attribute name="status" type="xsd:int"></xsd:attribute>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<message name="getSicasPessoa">
		<part name="cd_pessoa" type="xsd:int"></part>
	</message>
	<message name="getSicasPessoaResponse">
		<part name="return" type="xsd:anyType"></part>
	</message>
	<message name="getSicasServidor">
		<part name="cd_servidor" type="xsd:int"></part>
	</message>
	<message name="getSicasServidorResponse">
		<part name="return" type="xsd:anyType"></part>
	</message>
	<message name="consultarSicasPessoa">
		<part name="texto" type="xsd:string"></part>
	</message>
	<message name="consultarSicasPessoaResponse">
		<part name="return" type="xsd:anyType"></part>
	</message>
	<portType name="ControlePortType">
		<operation name="getSicasPessoa">
			<input message="typens:getSicasPessoa"></input>
			<output message="typens:getSicasPessoaResponse"></output>
		</operation>
		<operation name="getSicasServidor">
			<input message="typens:getSicasServidor"></input>
			<output message="typens:getSicasServidorResponse"></output>
		</operation>
		<operation name="consultarSicasPessoa">
			<input message="typens:consultarSicasPessoa"></input>
			<output message="typens:consultarSicasPessoaResponse"></output>
		</operation>
	</portType>
	<binding name="ControleBinding" type="typens:ControlePortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
		<operation name="getSicasPessoa">
			<soap:operation soapAction="urn:ControleAction"></soap:operation>
			<input>
				<soap:body namespace="urn:RHWSDL" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:RHWSDL" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
		<operation name="getSicasServidor">
			<soap:operation soapAction="urn:ControleAction"></soap:operation>
			<input>
				<soap:body namespace="urn:RHWSDL" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:RHWSDL" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
		<operation name="consultarSicasPessoa">
			<soap:operation soapAction="urn:ControleAction"></soap:operation>
			<input>
				<soap:body namespace="urn:RHWSDL" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:RHWSDL" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
	</binding>
	<service name="RHWSDLService">
		<port name="ControlePort" binding="typens:ControleBinding">
			<soap:address location="http://rh.sudam.intra/ws/"></soap:address>
		</port>
	</service>
</definitions>